__pycache__/
.pytest_cache/
.mypy_cache/
.venv/
env/
venv/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite
*.db
.DS_Store
node_modules/
.env
dist/
build/
.next/
coverage/
/.idea/
/.vscode/
*.egg-info/
*.lock
package-lock.json
poetry.lock
**/__generated__/

